<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Changrui Mu</title>
</head>

<body>

    <div class="container">
        <div class="header">
            <h1>Changrui Mu</h1>
            <nav>
                <a href="#home">Home</a>
                <a id="contactBtn" href="javascript:void(0);" onclick="showPopup()">Contact Me</a>
                <a href="/assets/CV.pdf" target="_blank" class="cv-link">CV</a>
                <a href="https://www.linkedin.com/in/changrui-mu/">Linkedin</a>
                <a href="https://github.com/Ch40gRv1-Mu">GitHub</a>
                 <a href="#poem">Poems</a>
            </nav>
        </div>
        <!-- pop-up window -->
        <div id="contactPopup" class="popup">
            <span class="popupCloseBtn" onclick="closePopup()">&times;</span>
            <p>My email: <span id="emailText">changrui.mu@u.nus.edu</span> <button onclick="copyToClipboard()">Copy</button></p>
        </div>

        <div class="profile-section">
            <img src="assets/mu.png" alt="Your Portrait" class="portrait-image">
            <p class="profile-description"><div class="main-content">
        <ul>
            <li>Bacholer of Computing (Information Security), National University of Singapore <br> August 2020 to December 2023</li>
        </ul>
        </div> </p>
           <!-- <p class="profile-description">Life is a choice between fabricated scarcity and abunce of reality.</p> -->
        </div>

    </div>
    <div class="main-content">
        <p>Hi, I'm Changrui! Some chase the unknown in the cosmos, my dream is to chase the intricate enigmas nestled within the realm of cryptography and computation. Straddling the edge of what can be believed, known, proved, and solved, I'd like to navigate the intricate boundaries between the computable and the unbounded — the limitations set by the very fabric of our existence.
        </p>
        <p>
        I am fortunate to be supervised by <a href="https://www.comp.nus.edu.sg/~prashant/" target="_blank">Professor. Prashant Nalini Vasudevan</a>in my research on cryptography and complexity theory, specifically focusing on Interactive Proofs, for over the <b>past two years</b>. <sup><a href="#footnote1" id="ref1">1</a></sup>
        </p>
        <p>
        In the summer of 2023, I had the privilege of working closely with <a href="https://csaws.cs.technion.ac.il/~rothblum/" target="_blank">Professor Ron D. Rothblum</a>at Technion, focusing on Statistical Zero Knowledge Proofs. <sup><a href="#footnote2" id="ref2">2</a></sup><sup>
        </p>
        <p>
         In addition to my research endeavors, I have a passion for teaching and disseminating knowledge. I serve as the lead Teaching Assistant for <a href="https://nusmods.com/courses/CS3235/computer-security" >CS3235 Computer Security</a> under the guidance of <a href="https://www.comp.nus.edu.sg/~reza/" target="_blank">Professor Reza Shokri</a> and for <a href="https://nusmods.com/courses/CS4236/cryptography-theory-and-practice" target="_blank">CS4236 Cryptography Theory and Practice</a> instructed by <a href="https://www.comp.nus.edu.sg/~prashant/" target="_blank">Professor Prashant Nalini Vasudevan</a>.
        </p>
    </div>

    <div class="section">
    <h2 class="section-title">Education</h2>
        <!-- Your education content here -->
        <div class="main-content">
        <ul>
            <li>Bacholer of Computing (Information Security), National University of Singapore <br> August 2020 to December 2023</li>
        </ul>
        </div>
    </div>

    <div class="section">
        <h2 class="section-title">Publications</h2>
        <div class="main-content">
        <ul>
            <li><b>Power of Instance-Hiding Interactive Proof</b><br> Changrui Mu, Prashant Nalini Vasudevan <br> Innovations in Theoretical Computer Science(ITCS), 2024, In Submisson</li>
            <li><b>Strong Batching for Non-Interactive Statistical Zero-Knowledge</b><br> Changrui Mu, Shafik Nassar, Ron D. Rothblum and Prashant Nalini Vasudevan<br> Eurocrypt, 2024, In Submisson</li>
        </ul>
        </div>
        <!-- Your publications content here -->
    </div>

    <div class="section">
        <h2 class="section-title">Selected Awards and Certificates</h2>
        <div class="main-content">
        <ul>
            <li>2023 <a href="https://courses.edx.org/certificates/ed67b2bc5f0940ad8221c770742d86e1" >edX-Berkeley: Blockchain Technology</a></li>
            <li>2022 <a href="https://credentials.nus.edu.sg/2bca4b24-e14d-4fd9-af4c-cbadff76d9e5#gs.32a3jh" >: Dean's List</a></li>
            <li>2021 <a href="https://credentials.nus.edu.sg/04862e26-ab42-4311-9d8d-daea1ace2b44" >NUS: Top Students in Computer Security</a></li>
            <li>2021 <a href="https://www.credential.net/c9768ce8-aba5-450e-a5cd-a1aeebbc2569?username=muchangrui459441#gs.65b7mx" >2nd Place in the Enthusiast Track of Singapore Blockchain Innovation Challenge 2021</a></li>
            <li>2021 <a href="https://www.coursera.org/account/accomplishments/certificate/RE3PVA9EACXK" >Coursera-Stanford: Cryptography I</a></li>
            <li>2020 <a href="https://credentials.nus.edu.sg/065e6070-317f-47b5-9413-411493a265da" >NUS: Orbital Apollo 11</a></li>
        </ul>
        </div>
        <!-- Your publications content here -->
    </div>

    <div class="section">
    <h2 class="section-title">Industrial Experiences</h2>
        <div class="job">
            <div class="job-header">
                <span class="job-title"><b>Smart Contract Security Engineer (Part-time Intern)</b></span>
                <span class="company-name">Binance</span>
            </div>
            <div class="job-details">August 2022- August 2023, Singapore</div>
        </div>
        <div class="job">
            <div class="job-header">
                <span class="job-title"><b>Backend Engineer (Full-time Intern)</b></span>
                <span class="company-name">TikTok</span>
            </div>
            <div class="job-details">May 2022- August 2022, Singapore</div>
        </div>
    </div>

    <div class="section">
    <h2 class="section-title">Activities</h2>
    <div class="main-content">
        <ul>
            <li><a href="https://conferences.cis.um.edu.mo/ijtcs2023/invited_speakers.html">Talk: Non-Interactive Statistical Zero Knowledge Proof</a><br>2023, University of Macau<br>I presented at the International Joint Conference on Theoretical Computer Science (IJTCS) Undergraduate Forum</li>
            <li><a href="https://sites.google.com/view/manycolorsofcrypto/home">Attendance: The Many Colors of Cryptography: A Workshop in Honor of Ran Canetti</a><br>2023, Tel Aviv University<br>I was fortunate to witness speeches by some of the world's most esteemed cryptographers in person.</li>
        </ul>
        </div>
        <!-- Your publications content here -->
    </div>


    <p>For the details of my more teaching, research, and project experience, please check <a href="assets/CV.pdf" target="_blank">CV</a>.</p>







        <div class="footer">
            <hr>
            <p>
            <sup id="footnote1">1</sup> I have been profoundly influenced by Dr. Vasudevan's unwavering dedication and meticulous approach to academic endeavors aimed at bettering human society. As my pioneering mentor in cryptography, he granted me the autonomy to freely explore research ideas. Even when I initially proposed less refined concepts, he didn't dismiss them outright. Instead, he guided me to discern the challenges and refine them on my own. His patience, encouragement, and consistently insightful guidance have been pivotal in inspiring my commitment to my academic study and research after graduation.<a href="#ref1" title="Jump back to footnote 1 in the text.">↩</a>
            </p>
            <p>
            <sup id="footnote2">2</sup>Dr. Rothblum has frequently provided me with new perspectives on cryptography and suggestions on both research and my impressive journey in Israel. I am truly amazed by his profound knowledge and genuine enthusiasm for the field. Working with him has further solidified my path towards theoretical research. I was also lucky to meet Shafik Nassar, who took me to the best coffee house and bar in Haifa. We shared my interests and collaboratively explored intriguing questions.<a href="#ref1" title="Jump back to footnote 2 in the text.">↩</a>
            </p>
            <p>© 2023 Changrui Mu | <a href="mailto:changrui.mu@u.nus.edu">E-mail</a> | Made using <a href="https://jekyllrb.com/">jekyllrb</a></p>
        </div>
    </div>

</body>

</html>


<script>
    function showPopup() {
        document.getElementById("contactPopup").style.display = "block";
    }

    function closePopup() {
        document.getElementById("contactPopup").style.display = "none";
    }

    function copyToClipboard() {
        const textArea = document.createElement("textarea");
        textArea.value = document.getElementById("emailText").textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();
        alert("Email copied to clipboard!");
    }
</script>

